**/node_modules
static_dist
.env
.idea
.git
files
db.sqlite3
postgresql
archive
*.env
*.sh
*.cmd
*.bat
static/app.css
static/app.css.map
static/app.js
static/app.js.map
ftml/target
ftml/pkg
ftml/*.pyd
ftml/*.so
venv