**/node_modules
static_dist
.env
.idea
.git
files
db.sqlite3
postgresql
archive
*.env
*.sh
*.cmd
*.bat
static/app.js
static/app.js.map
static/system.js
static/system.js.map
static/highlight.js.css
ftml/target
ftml/pkg
ftml/*.pyd
ftml/*.so
venv
!entrypoint.sh