NO_ANON_EDITING=true
NEW_SITE=http://scpfoundation.net
ARTICLE_IMPORT_REPLACE_CONFIG="http://scp-ru.wikidot.com::$NEW_SITE,http://scpfoundation.net::$NEW_SITE,http://scp-ru.wdfiles.com::$NEW_SITE"
SECRET_KEY=CHANGE_ME_IMMEDIATELY
EMAIL_DEFAULT_FROM=
DEBUG=false
EMAIL_ENGINE=smtp
EMAIL_HOST=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_PORT=587
EMAIL_USE_TLS=true
MEDIA_UPLOAD_LIMIT=32GB
ABSOLUTE_MEDIA_UPLOAD_LIMIT=64GB
RUST_BACKTRACE=1
GOOGLE_TAG_ID=