Django==4.1.5
py7zr==0.18.6
whitenoise==6.2.0
django-jazzmin==2.5.0
django-guardian==2.4.0
Pillow==9.1.1
python-dotenv==0.20.0
psycopg2-binary==2.9.3
watchdog==2.1.9
beautifulsoup4==4.11.1
django-auto-prefetch==1.4.0
