{% extends "system_base.html" %}

{% block h1 %}{% block title %}Регистрация{% endblock %}{% endblock %}


{% block content %}
	<div class="login-form">
	    {% if error %}
            <div class="error">
                <p>{{ error }}</p>
            </div>
            <br>
        {% endif %}
        {% if not error_fatal %}
            <form method="POST">
                {% csrf_token %}
                <div class="text-input">
                    <span class="icon begin">
                        <i class="fas fa-user"></i>
                    </span>
                    <input type="text" placeholder="Ваш логин" name="username" autofocus="" value="{{ username }}"
                           {% if is_wikidot %}disabled="disabled"{% endif %} autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                </div>
                <div class="text-input">
                    <span class="icon begin">
                        <i class="fas fa-lock"></i>
                    </span>
                    <input type="password" placeholder="Ваш пароль" name="password" autocomplete="current-password" required id="id_password">
                </div>
                <div class="text-input">
                    <span class="icon begin">
                        <i class="fas fa-lock"></i>
                    </span>
                    <input type="password" placeholder="Повторите пароль" name="password2" autocomplete="current-password" required id="id_password">
                </div>
                <button type="submit" class="btn">Продолжить</button>
            </form>
        {% endif %}
	<div class="login-form">
{% endblock %}