@import 'node_modules/highlight.js/styles/github.css';

:root {
  --background-color: rgb(235 235 235);
  --input-background: rgb(250 250 250);
  --icon-color: rgb(75 85 99);
  --hover-color: #ddd;

  --shadow: 0 0 #000, 0 0 #000, 0 0 15px -6px rgb(0 0 0 / 0.5);
  --btn-background: rgb(115 115 115);
  --btn-color: rgb(250 250 250);

  --under-text-color: rgb(163 163 163);

  --error-color: rgb(127 29 29);
  --error-border: rgb(252 165 165);
  --error-background: rgb(254 226 226);
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.system, .system * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.system-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #505b5b;
  padding: 32px 0;

  .back-link {
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      color: var(--hover-color);
    }
  }
}

.system-content {
  border: 3px solid white;
  box-shadow: 0 0 0 1px #aaa inset, 2px 2px 8px #0000007f;
  background: #eee;

  .heading {
    background: repeating-linear-gradient(45deg, #ffffff10, transparent 4px), linear-gradient(to bottom, #000000, #446060);
    box-shadow: 0 -1px 3px #0000007f inset;
    color: white;
    padding: 16px;
    overflow: hidden;

    h1 {
      font-size: 20px;
      font-weight: 600;
      text-shadow: 1px 1px 3px black;
    }

    .edit-button {
      float: right;
      padding: 7px;
      border-radius: 30%;
      display: flex;

      a {
        color: var(--btn-color);
        text-decoration: none;
        font-size: small;

        &:hover {
          color: var(--hover-color);
        }
      }
    }
  }

  .error {
    background: #ffeeee;
    border: 1px #ffcccc dashed;
    padding: 4px;
    font-size: 14px;
  }

  .content {
    padding: 16px;

    form {
      & > p {
        margin-bottom: 8px;
      }

      label:first-child {
        font-weight: 600;
        display: block;
        margin-bottom: 2px;
        font-size: 14px;
      }
      .helptext {
        font-size: 12px;
        display: block;
        margin-top: 2px;
        font-style: italic;
      }
    }

    input[type="text"], input[type="password"], input[type="email"], textarea {
      border: 1px solid #444;
      padding: 4px;
      font-size: 14px;
      width: 100%;
    }

    button, input[type="submit"] {
      margin-top: 16px;
      background: #263636;
      border: 0;
      border-radius: 3px;
      padding: 8px 16px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      color: white;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background: #446060;
      }
      &:active {
        background: #0e1414;
        color: #4e6b6b;
      }
    }
  }
}

.system-content .login-form {
  max-width: 300px;

  .text-input {
    position: relative;
    margin-top: 8px;

    .icon {
      position: absolute;
      left: 6px;
      top: 3px;

      &.end {
        right: 6px;
        left: auto;
      }
    }
  }

  input[type="text"], input[type="password"] {
    padding: 4px 24px;
  }

  .under-text {
    margin-top: 16px;
  }
}

.system-content .profile-form {
  min-width: 300px;
  max-width: 600px;
  word-break: break-word;
}

.system-heading-avatar {
  float: left;
  display: block;
  width: 48px;
  height: 48px;
  object-fit: cover;
  margin-right: 16px;
}

.user-heading-subtitle {
  font-size: 13px;
}
