{% extends "base.html" %}

{% block h1 %}
    <img class="system-heading-avatar" src="{{ avatar }}" alt="{{ displayname }}">
    {% block title %}
        {{ displayname }}
    {% endblock %}
    {% if request.user == object %}
        <div class="edit-button">
            <a href="{% url "profile_edit" %}" title="Редактирование" class="icon"><span>Edit</span> <i class="fa-solid fa-pen"></i></a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="profile-form">
        {% if object.type == 'wikidot' %}<p><b>Важно:</b> Пользователь мигрирован с платформы Wikidot и не является активным.<br><br></p>{% endif %}
        {% if object.first_name %}<p><b>Имя:</b> {{ object.first_name }}</p>{% endif %}
        {% if object.last_name %}<p><b>Фамилия:</b> {{ object.last_name }}</p>{% endif %}
        {% if object.bio %}<p><b>Описание:</b> {{ object.bio }}</p>{% endif %}
        <p><b>Участник сайта:</b> c {{ object.date_joined }}</p>
    </div>
{% endblock %}