<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-language" content="ru"/>

    <title>{{ site_title }}</title>

    <link rel="stylesheet" type="text/css" href="/-/static/wikidot-base.css">
    <link rel="stylesheet" type="text/css" href="/-/static/scp-base.css">

    <script src="/-/static/app.js?v=3" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/-/static/app.css?v=4">
</head>
<body id="html-body">
    <div id="skrollr-body">
        <a name="page-top"></a>
        <div id="container-wrap-wrap">
            <div id="container-wrap">
                <div id="container">
                    <div id="header">
                        <h1><a href="/"><span>{{ site_name }}</span></a></h1>
                        <h2><span>{{ site_headline }}</span></h2>
                        <div id="top-bar">
                            {{ nav_top }}
                        </div>
                        <div id="login-status" data-config="{{ login_status_config }}">
                        </div>
                    </div>
                    <div id="site-in-dev-warning">
                        <img src="/-/static/images/in-dev.svg" alt="IN DEVELOPMENT">
                        <div>
                            <h4>Это — аварийная версия сайта.</h4>
                            <p>Она доступна без VPN, но имеет урезанный функционал и в данный момент работает только для чтения.</p>
                        </div>
                    </div>
                    <div id="content-wrap">
                        <div id="side-bar">
                            {{ nav_side }}
                        </div>
                        <div id="main-content">
                            <div id="action-area-top"></div>
                            {% if title %}
                                <div id="page-title">
                                    {{ title }}
                                </div>
                            {% endif %}
                            {% if breadcrumbs|length > 1 %}
                                <div id="breadcrumbs">
                                {% for article in breadcrumbs %}
                                    {% if breadcrumbs|last != article %}
                                        <a href="{{ article.url }}">{{ article.title }}</a>
                                        &raquo;
                                    {% else %}
                                        {{ article.title }}
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                            <div id="page-content">
                                {{ content }}
                            </div>
                            <div class="page-tags">
                                <span>
                                    {% for tag in tags %}
                                        <a href="/system:page-tags/tag/{{ tag }}#pages">{{ tag }}</a>
                                    {% endfor %}
                                </span>
                            </div>
                            <div id="page-info-break"></div>
                            <div id="page-options-container" data-config="{{ options_config }}"></div>
                            <div id="action-area"></div>
                        </div>
                    </div>
                    <div id="footer"><a href="https://github.com/SCPru/RuFoundation" target="_blank">RuFoundation engine</a></div>
                    <div id="license-area" class="license-area">
                        Пока не указано иное, содержимое этой страницы распространяется по лицензии <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.
                    </div>
                    <div id="extrac-div-1"><span></span></div>
                    <div id="extrac-div-2"><span></span></div>
                    <div id="extrac-div-3"><span></span></div>
                </div>
            </div>
            <div id="extra-div-1"><span></span></div>
            <div id="extra-div-2"><span></span></div>
            <div id="extra-div-3"><span></span></div>
            <div id="extra-div-4"><span></span></div>
            <div id="extra-div-5"><span></span></div>
            <div id="extra-div-6"><span></span></div>
        </div>
    </div>
    <div id="dummy-ondomready-block" style="display: none"></div>
    <div id="w-modals"></div>
</body>
</html>