<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-language" content="ru"/>

    <title>{{ site_title }}</title>

    <link rel="stylesheet" type="text/css" href="/static/wikidot-base.css">
    <link rel="stylesheet" type="text/css" href="/static/scp-base.css">

    <script src="/static/app.js?v=1" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/app.css?v=3">
</head>
<body id="html-body">
    <div id="skrollr-body">
        <a name="page-top"></a>
        <div id="container-wrap-wrap">
            <div id="container-wrap">
                <div id="container">
                    <div id="header">
                        <h1><a href="/"><span>{{ site_name }}</span></a></h1>
                        <h2><span>{{ site_headline }}</span></h2>
                        <div id="top-bar">
                            {{ nav_top|safe }}
                        </div>
                    </div>
                    <div id="content-wrap">
                        <div id="side-bar">
                            {{ nav_side|safe }}
                        </div>
                        <div id="main-content">
                            <div id="action-area-top"></div>
                            {% if title %}
                                <div id="page-title">
                                    {{ title }}
                                </div>
                            {% endif %}
                            <div id="page-content">
                                {{ content|safe }}
                            </div>
                            <div class="page-tags"></div>
                            <div id="page-info-break"></div>
                            <div id="page-options-container" data-config="{{ options_config }}"></div>
                            <div id="action-area"></div>
                        </div>
                    </div>
                    <div id="extrac-div-1"><span></span></div>
                    <div id="extrac-div-2"><span></span></div>
                    <div id="extrac-div-3"><span></span></div>
                </div>
            </div>
            <div id="extra-div-1"><span></span></div>
            <div id="extra-div-2"><span></span></div>
            <div id="extra-div-3"><span></span></div>
            <div id="extra-div-4"><span></span></div>
            <div id="extra-div-5"><span></span></div>
            <div id="extra-div-6"><span></span></div>
        </div>
    </div>
    <div id="dummy-ondomready-block" style="display: none"></div>
</body>
</html>