{% load md5url days %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="ru">

    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="{{ og_description }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ og_url }}">
    {% if og_image %}
        <meta property="og:image" content="{{ og_image }}">
        <meta name="twitter:card" content="summary_large_image">
    {% else %}
        <meta name="twitter:card" content="summary">
    {% endif %}

    <title>{{ site_title }}</title>

    <link rel="icon" type="image/x-icon" href="/local--files/{{ site_icon }}">

    <link rel="stylesheet" type="text/css" href="{% md5url "fontawesome/css/all.css" %}">

    <link rel="stylesheet" type="text/css" href="{% md5url "wikidot-base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% md5url "scp-base.css" %}">

    <script src="{% md5url "app.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% md5url "app.css" %}">

    {% if google_tag_id %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tag_id }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{ google_tag_id|escapejs }}');
        </script>
    {% endif %}
</head>
<body id="html-body">
    <div id="skrollr-body">
        <a name="page-top"></a>
        <div id="container-wrap-wrap">
            <div id="container-wrap">
                <div id="container">
                    <div id="header">
                        <h1><a href="/"><span>{{ site_name }}</span></a></h1>
                        <h2><span>{{ site_headline }}</span></h2>
                        <div id="search-top-box" class="form-search">
                            <form id="search-top-box-form" class="w-ref-form" data-target-page="search:site">
                                <input id="search-top-box-input" class="text search-query" type="text" name="q" placeholder="Поиск на этом сайте">
                                <input class="button btn" type="submit" value="Искать">
                            </form>
                        </div>
                        <div id="top-bar">
                            {{ nav_top }}
                        </div>
                        <div id="login-status" data-config="{{ login_status_config }}">
                        </div>
                        <div id="header-extra-div-1"></div>
                        <div id="header-extra-div-2"></div>
                        <div id="header-extra-div-3"></div>
                    </div>
                    <div id="content-wrap">
                        <div id="side-bar">
                            {{ nav_side }}
                        </div>
                        <div id="main-content">
                            <div id="action-area-top"></div>
                            <div id="page-title" style="{%  if not title %}display: none{% endif %}">
                                {{ title }}
                            </div>
                            {% if breadcrumbs|length > 1 %}
                                <div id="breadcrumbs">
                                {% for article in breadcrumbs %}
                                    {% if breadcrumbs|last != article %}
                                        <a href="{{ article.url }}">{{ article.title }}</a>
                                        &raquo;
                                    {% else %}
                                        {{ article.title }}
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                            <div id="page-content">
                                {{ content }}
                            </div>
                            <div class="page-tags">
                                <span>
                                <div>
                                    {% for cat, tags in tags_categories.items %}
                                        <div>
                                            <strong>{{ cat.name }}:</strong>
                                            {% for tag in tags %}
                                                {% if tag.name|first != "_" %}
                                                    <a href="/system:page-tags/tag/{{ tag.full_name }}#pages">{{ tag.name }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                                </span>
                            </div>
                            <div id="page-info-break"></div>
                            {% if updated_at %}
                                <div id="page-info">версия страницы: {{ rev_number }}, Последняя правка: <span class="odate" style="display: inline">{{ updated_at|date:"d N Y, H:i" }} ({{ updated_at|days_since }})</span></div>
                            {% endif %}
                            <div id="page-options-container" data-config="{{ options_config }}"></div>
                            <div id="action-area"></div>
                        </div>
                    </div>
                    <div id="footer"><a href="https://github.com/SCPru/RuFoundation" target="_blank">RuFoundation engine</a> powered by a fork of FTML originally made by the <a href="https://github.com/scpwiki/wikijump">WikiJump</a> team</div>
                    <div id="license-area" class="license-area">
                        Пока не указано иное, содержимое этой страницы распространяется по лицензии <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.
                    </div>
                    <div id="extrac-div-1"><span></span></div>
                    <div id="extrac-div-2"><span></span></div>
                    <div id="extrac-div-3"><span></span></div>
                </div>
            </div>
            <div id="extra-div-1"><span></span></div>
            <div id="extra-div-2"><span></span></div>
            <div id="extra-div-3"><span></span></div>
            <div id="extra-div-4"><span></span></div>
            <div id="extra-div-5"><span></span></div>
            <div id="extra-div-6"><span></span></div>
            <div id="w-extra-div-1"><span></span></div>
            <div id="w-extra-div-2"><span></span></div>
            <div id="w-extra-div-3"><span></span></div>
            <div id="w-extra-div-4"><span></span></div>
            <div id="w-extra-div-5"><span></span></div>
            <div id="w-extra-div-6"><span></span></div>
        </div>
    </div>
    <div id="dummy-ondomready-block" style="display: none"></div>
    <div id="w-modals"></div>
</body>
</html>
