{% extends "base.html" %}

{% block h1 %}{% block title %}Сброс пароля{% endblock %}{% endblock %}

{% block content %}
    <div class="login-form">
        <p>Забыли пароль? Введите адрес электронной почты, и мы отправим вам инструкцию для сброса пароля.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="text-input">
                <input type="email" name="email" autocomplete="email" placeholder="Email адрес" maxlength="254" required id="id_email">
            </div>
            <button class="btn btn-primary" type="submit">Отправить письмо</button>
        </form>
    </div>
{% endblock %}