{% extends "base.html" %}

{% block h1 %}{% block title %}Регистрация{% endblock %}{% endblock %}


{% block content %}
	<div class="login-form">
	    {% if form.errors %}
            <div class="error">
                <p>Пароли не совпадают.</p>
            </div>
            <br>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="text-input">
                <span class="icon begin">
                    <i class="fas fa-user"></i>
                </span>
                <input type="text" placeholder="Ваш логин" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
            </div>
            <div class="text-input">
                <span class="icon begin">
                    <i class="fas fa-lock"></i>
                </span>
                <input type="password" placeholder="Ваш пароль" name="password" autocomplete="current-password" required id="id_password">
                <span class="icon end">
                    <i class="fas fa-eye-slash cursor-pointer" id="togglePassword"></i>
                </span>
            </div>
			<div class="text-input">
                <span class="icon begin">
                    <i class="fas fa-lock"></i>
                </span>
                <input type="password" placeholder="Повторите пароль" name="password2" autocomplete="current-password" required id="id_password">
				<!-- invalid
				
				<span class="icon end">
                    <i class="fas fa-eye-slash cursor-pointer" id="togglePassword"></i>
                </span>
				
				-->
            </div>
			<button type="submit" class="btn">Продолжить</button>
		</form>
	<div class="login-form">
{% endblock %}