{% extends "system_base.html" %}


{% block h1 %}{% block title %}{% if validlink %}Новый пароль{% else %}Нерабочая ссылка{% endif %}{% endblock %}{% endblock %}


{% block content %}
    <div class="login-form">
        {% if validlink %}
            {% if form.errors %}
                <div class="error">
                    <p>Введён пароль неудовлетворяющий условия. Пожалуйста, попробуйте снова</p>
                </div>
                <br>
            {% endif %}
            <p>Пожалуйста, введите новый пароль.</p>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn" type="submit">Отправить</button>
            </form>
        {% else %}
            Похоже вы перешли по нерабочей ссылке. Пожалуйста, попробуйте снова.
        {% endif %}
    </div>
{% endblock %}