<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - SCP Foundation</title>

    <script src="https://kit.fontawesome.com/323e9a4b71.js" crossorigin="anonymous"></script>

    <script src="/-/static/app.js?v=3" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/-/static/app.css?v=4">

    {% block head %}{% endblock %}
</head>
<body class="system">
    <div class="system-container">
        {% block back_link %}
        <a class="back-link" href="/"><span class="fa fa-arrow-left"></span> Назад на сайт</a>
        {% endblock %}
        <div class="system-content">
            {% block before %}{% endblock %}
            <div class="heading">
                <h1 id="title">{% block h1 %}{% endblock %}</h1>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>