{% extends "admin/base_site.html" %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block content_title  %}
    Пользователи
{% endblock %}

{% block content %}
    <div class="col-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <div class="card-title">
                        {{ title }}
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="hidden" name="action" value="invite" />
                        <br>
                        <input type="submit" name="apply" class="btn btn-outline-success" value={{ submit_btn }} />
                    </form>
                </div>
            </div>
    </div>
{% endblock %}

